<IfModule mod_rewrite.c>
    RewriteEngine On

    # Aturan untuk detail artikel,program dan produk berdasarkan ID
    # RewriteRule ^detailartikel/([0-9]+)$ index.php?action=detailArtikel&id_artikel=$1 [QSA,L]

    # Aturan untuk menangani request ke halaman lainnya (login, register, dll.)
    RewriteRule ^login$ index.php?action=login [QSA,L]
    RewriteRule ^register$ index.php?action=register [QSA,L]
    RewriteRule ^daftarlab$ index.php?action=daftarlab [QSA,L]
    RewriteRule ^lab$ index.php?action=lab [QSA,L]
    RewriteRule ^laboran$ index.php?action=laboran [QSA,L]
    RewriteRule ^jadwal$ index.php?action=jadwal [QSA,L]
    RewriteRule ^tambahLab$ index.php?action=tambahLab [QSA,L]
    RewriteRule ^admin$ index.php?action=admin [QSA,L]
    RewriteRule ^logout$ index.php?action=logout [QSA,L]
    # RewriteRule ^profile$ index.php?action=profile [QSA,L]

    # Hilangkan .php dari file lainnya
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^([a-zA-Z0-9_-]+)$ $1.php [L]

    RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|json)$ [NC]


    # Aturan default untuk menangani semua permintaan lainnya
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?action=$1 [QSA,L]

</IfModule>
